<div class="avatar">

    <ng-form class="form" name="frm">
        <span>AVATAR</span> <span class="small">User Avatar. It is recommended that you use a file with the GIF or PNG format. The recommended size is 512x512 pixels.</span><br />
        <br />
        <img ng-if="$ctrl.user.avatar" class="avatar" ng-src="{{$ctrl.user.avatar}}" />
        <br />
        <button class="upload" ng-click="popup=true;$ctrl.popupAvatar()">Upload Avatar</button>
        <div prev-next-buttons></div>

    </ng-form>

</div>