<div class="login-details">

    <ng-form class="form" name="frm">

        <span>EMAIL</span> <br />
        <input  ng-class="{'dirty':submitted && !frm.email.$valid}" type="email" ng-model="$ctrl.user.email" name="email" required placeholder=" [Required]" ng-change="submitted=false" /> <br />

        <span>PASSWORD</span> <br />
        <input ng-class="{'dirty':submitted && !frm.password.$valid}" type="password" ng-model="$ctrl.user.password" id="password" name="password" minlength="5" required placeholder=" [Required]" ng-change="submitted=false" /> <br />

        <span>VERIFY PASSWORD</span> <br />
        <input ng-class="{'dirty':submitted && !frm.verPassword.$valid || frm.password.$$rawModelValue !== frm.verPassword.$$rawModelValue}" type="password" ng-model="$ctrl.verPassword" id="verPassword" name="verPassword" minlength="5" required placeholder=" [Required]" ng-change="submitted=false" /> <br />
        <span class="error-text" ng-show="submitted && frm.password.$$rawModelValue !== frm.verPassword.$$rawModelValue && frm.verPassword.$$rawModelValue.length > 0 ">The verifying password does not match with the first password</span>
    
        <div prev-next-buttons></div>

    </ng-form>

</div>