<div class="submit-user">

        <ng-form class="form" name="frm">
    
            <span>EMAIL</span> <br />
            <input type="text" ng-model="$ctrl.user.email" name="email" readonly /> <br />
    
            <span>USERGROUP</span> <br />
            <input type="text" ng-model="$ctrl.userGroups[$ctrl.user.userGroup-1].name" id="userGroup" name="userGroup" readonly /> <br />
    
            <span>AVATAR</span> <br />
            <img ng-if="$ctrl.user.avatar" class="avatar" ng-src="{{$ctrl.user.avatar}}" />

            <div class="button-container">
                <button ng-click="$ctrl.cancel()">Cancel</button>
                <button type="submit" class="primary" ng-click="$ctrl.submit()">Next</button>
            </div>
    
        </ng-form>
    
    </div>