<div class="user-groups">

    <h2>Choose the User Group</h2>

    <ng-form class="form" name="frm">
        <span>USER GROUP</span> <span class="small">User Group to add the users to</span><br />
        <select ng-class="{'dirty':submitted && !frm.userGroup.$valid}" name="userGroup" ng-model="$ctrl.user.userGroup" ng-options="item.id as item.name for item in {{$ctrl.userGroups}}" required>
            <option value="">None</option>
        </select>
    
        <div prev-next-buttons></div>

    </ng-form>

</div>