<div class="navigation">
    <ul>
        <li ng-class="{'active':$ctrl.selectedMenu === 1}"><span>Add login details</span></li>
        <li ng-class="{'active':$ctrl.selectedMenu === 2}"><span>Select the user group</span></li>
        <li ng-class="{'active':$ctrl.selectedMenu === 3}"><span>Add an avatar</span></li>
        <li ng-class="{'active':$ctrl.selectedMenu === 4}"><span>Submit the form</span></li>
    </ul>
    <div class="app-image"></div>
</div>