html{
    height: 100%;

    body{
        height: 100%;
        font-family: 'proxima-nova', sans-serif;
        color: rgb(100, 112, 138);
    }
}

.dirty {
    border-color: rgba(255,0,0,0.6);
}

.error-text {
    color: rgba(255,0,0,0.6);
}

#cs-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  #cs-loader-inner {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: calc(100% - 200px);
    color: #000;
    padding: 0 100px;
    text-align: center;
  }
  
  #cs-loader-inner span {
  font-family: "Arial";
   font-size: 20px;
    opacity: 0;
    display:inline-block;
  }
  #cs-loader-inner label {
    font-size: 20px;
    opacity: 0;
    display:inline-block;
  }
  
  #cs-loader-inner label {
      color: #157fcc;
  }
  
  @keyframes lol {
    0% {
      opacity: 0;
      transform: translateX(-300px);
    }
    33% {
      opacity: 1;
      transform: translateX(0px);
    }
    66% {
      opacity: 1;
      transform: translateX(0px);
    }
    100% {
      opacity: 0;
      transform: translateX(300px);
    }
  }
  
  @-webkit-keyframes lol {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-300px);
    }
    33% {
      opacity: 1;
      -webkit-transform: translateX(0px);
    }
    66% {
      opacity: 1;
      -webkit-transform: translateX(0px);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(300px);
    }
  }
  
  #cs-loader-inner label:nth-child(6) {
    -webkit-animation: lol 3s infinite ease-in-out;
    animation: lol 3s infinite ease-in-out;
  }
  
  #cs-loader-inner label:nth-child(5) {
    -webkit-animation: lol 3s 100ms infinite ease-in-out;
    animation: lol 3s 100ms infinite ease-in-out;
  }
  
  #cs-loader-inner label:nth-child(4) {
    -webkit-animation: lol 3s 200ms infinite ease-in-out;
    animation: lol 3s 200ms infinite ease-in-out;
  }
  
  #cs-loader-inner label:nth-child(3) {
    -webkit-animation: lol 3s 300ms infinite ease-in-out;
    animation: lol 3s 300ms infinite ease-in-out;
  }
  
  #cs-loader-inner label:nth-child(2) {
    -webkit-animation: lol 3s 400ms infinite ease-in-out;
    animation: lol 3s 400ms infinite ease-in-out;
  }
  
  #cs-loader-inner label:nth-child(1) {
    -webkit-animation: lol 3s 500ms infinite ease-in-out;
    animation: lol 3s 500ms infinite ease-in-out;
  }


  #modal_contener{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
  }

  #modal{
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    z-index: 1000;

    .header{
      width: 100%;
      height: 20%;
      position: relative;
      -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);

      .outer {
        display: table;
        position: absolute;
        height: 100%;
        width: 100%;
      }
      
      .middle {
        display: table-cell;
        vertical-align: middle;
      }
      
      .inner {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        /*whatever width you want*/
      }

      .title{
        color: rgb(100, 112, 138);
        font-size: 20px;
        padding-left: 10px;
      }
    }

    .body{
      padding: 20px;
      color: rgb(100, 112, 138);
    }

    .buttons{
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 50px;
    
        &.okcancel, &.upload{
    
          button{
            position: absolute;
            left: 10px;
    
            &.primary{
              left: inherit;
              right: 10px;
            }
          }
    
        }
    }
  }

  

  button{
    width: 80px;
    height: 33px;
    border-radius: 25px;
    border: none;
    background-color: rgb(253, 253, 253);
    border: 1px solid lightgrey;
    color: rgb(100, 112, 138);

    &:hover{
        cursor: pointer;
        background-color: rgb(200, 200, 200);
        color: white;
    }
    

    &.primary{
        background-color: rgb(74, 143, 226);
        color: white;

        &:hover{
          background-color: rgb(43, 110, 190);
        }
    }
}