.registration{

    width: 100%;
    height: 100%;
    
    .header {
        width: 100%;
        height: 50px;
        padding: 5px;
        background-color: white;
        position: relative;
        -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);

        h3{
            font-weight: normal;
            margin-left: 50px;
            margin-top: 13px;
        }

        h3:before {
            background-image: url(/resources/images/icon.png);
            background-size: 35px 35px;
            background-repeat: no-repeat;
            display: inline-block;
            width: 48px;
            height: 40px;
            margin-left: -44px;
            margin-top: -6px;
            content: "";
            position: absolute;
        }
    }
    
    .container {

        width: 100%;
        height: 100%;
        background-image: url(/resources/images/side-background.png);

        navigation{

            width: 20%;

            .navigation {
                float: left;
                padding: 5px;
                background: transparent;
                z-index: 0;
                margin-top: 20px;
    
                li{
                    padding: 5px;
                    font-size: 25px;
    
                    &.active{
                        color: rgb(125, 217, 110);
                    }
    
                }
    
    
                span{
                    color: rgb(100, 112, 138);
                    text-decoration: none;
                    font-weight: bolder;
                    font-size: 18px;
                }
    
                .app-image{
                    width: 300px;
                    height: 300px;
                    background-image: url(/resources/images/app-icon.png);
                    background-repeat: no-repeat;
                    background-size: 300px 300px;
                    margin-left: 48%;
                    margin-top: 180px;
                    z-index: 1;
                }
            }
        }
    
        
        .content{
            width: 75%;
            height: 100%;
            float: right;
            padding: 5px;
            background-color: white;
            z-index: 2;

            .view{
                padding: 10px;
                margin-top: 30px;
            }
        }
    }

    .button-container{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .login-details, .user-groups, .avatar, .submit-user,{

        .form{
            input{
                width: 100%;
                height: 25px;
                margin: 5px;
                margin-bottom: 15px;
            }

            span{
                margin-left: 5px;
                font-size: 12px;
                font-weight: bold;

                &.small{
                    margin-left:10px;
                    font-weight: normal;
                }
            }

        }

        .avatar{
            width: 100px;
            height: 100px;
        }
        
    }

    .user-groups{

        select{
            width: 100%;
            height: 35px;
            margin: 5px;
            margin-bottom: 15px;
        }
        
    }

    .avatar{
        button.upload{
            width: 120px;
            height: 38px;
            margin-top: 20px;
        }
    }

}


@media (max-width: 1350px) {
    .registration{
        .container {
            .content{
                width: 65%;
            }
        }
    }
}



@media (max-width: 950px) {
    .registration{
        .container {
            .content{
                width: 55%;
            }
        }
    }
}

@media (max-width: 750px) {
    .registration{
        .container {
            .content{
                width: 45%;
            }
        }
    }
}

@media (max-width: 650px) {
    .registration{
        .container {
            navigation{
                .navigation{
                    height: 300px;
                    .app-image{
                        width: 150px;
                        height: 150px;
                        background-size: 150px 150px;
                        margin-left: 100%;
                        margin-top: 0px;
                    }
    
                }
            }
            
            .content{
                float: left;
                width: 100%;
            }
        }
    }
}