<div class="registration">
    <div class="header">
        <h3>Add new User Profile</h3>
    </div>
    <div class="container">
        <navigation></navigation>
        <div class="content">
            <div  class="view" ng-view></div>
        </div>
    </div>
</div>