.file-upload{
    padding: 20px;

    

    .file{
      display: none;
    }

    .uploadFileName{
      margin-left: 120px;
      margin-top: 7px;
    }

    button{
        float: left;
        width: 100px;
    }

    .custom-loader {
        margin-left: 110px;
        margin-top: 5px;
        border: 4px solid #f3f3f3;
        border-radius: 50%;
        border-top: 4px solid #3498db;
        width: 15px;
        height: 15px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
      }
      
      /* Safari */
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    
  }