<div class="file-upload">
    <button ng-click="internalControl.chooseFile()">Choose file</button>
    <div ng-if="internalControl.loading" class="custom-loader"></div>
    <div ng-if="!internalControl.loading" class="uploadFileName">{{internalControl.uploadFileName}}</div>
    <input class="file" type="file" file-model="myFile" id="file" name="file" accept=".jpg, .jpeg, .png"/>
</div>